<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Celestial Freeze Jewerly</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
    </head>
    <body>
        <div class="content-wrapper">
            <div class="upper-section">
                <div class="image-title-container">
                    <img th:src="@{/images/collares-hero.png}" alt="Celestial Freeze Jewelry Collares" class="main-image">
                    <h1 class="main-title">Celestial Freeze Jewelry</h1>
                </div>
            </div>

                <div class="button-section">
                    <div class="button-container">
                        <a href="#" class="button-link">
                            <div class="button-box">
                                <span>BUSCAR</span>
                            </div>
                        </a>
                        <a href="/productos/paginaComprasDescuento" class="button-link">
                            <div class="button-box">
                                <span >PROMOCIONES</span>
                            </div>
                        </a>
                        <a href="/productos/paginaComprasTendencias" class="button-link">
                            <div class="button-box">
                                <span >TENDENCIAS</span>
                            </div>
                        </a>
                        <a href="/productos/paginaComprasCatalogo" class="button-link">
                            <div class="button-box">
                                <span>TODOS LOS<br>PRODUCTOS</span>
                            </div>
                        </a>
                    </div>
                </div>

    <body>

        <footer class="bg-light text-center py-4">
            <p>&copy; 2024 Celestial Freeze Jewerly.</p>
            <p>
                <a href="#" class="text-dark mr-3"><i class="fa fa-facebook"></i></a>
                <a href="#" class="text-dark mr-3"><i class="fa fa-twitter"></i></a>
                <a href="#" class="text-dark"><i class="fa fa-instagram"></i></a>
            </p>
        </footer>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    </body>
</html>